
.img-container {
    width: 100%;
    height: 160px;
    background-color: rgb(179, 179, 179);
    overflow: hidden;
    margin-bottom: 10px;
}

/* PRACTICA */

.img-container-profile {
    width: 100%;
    height: 220px;
    overflow: hidden;
    margin-bottom: 10px;
}

/* TRABAJOS */

.img-container-one {
    width: 100%;
    height: 160px;
    background-color: rgb(179, 179, 179);
    overflow: hidden;
}

.img-container-two {
    width: 100%;
    height: 430px;
    background-color: rgb(179, 179, 179);
    overflow: hidden;
}

.img-container-three {
    width: 100%;
    height: 160px;
    background-color: rgb(179, 179, 179);
    overflow: hidden;
}

.img-container-four {
    width: 100%;
    height: 160px;
    background-color: rgb(179, 179, 179);
    overflow: hidden;
}

.img-fit {
    width: 100%;
    object-fit: contain;
}

.calle {
    margin-right: 0px;
    margin-bottom: 10px;
}