/* MOBILE PHONE */
@media only screen and (max-width: 320px)
{
    .logo {
        color: rgb(49, 105, 54);
        font-size: 14pt;
    }

    .hamburger {
        width: 25px;
    }

    .mainButton{
        li{
            font-size: 12pt;
        }
    }
    
}

/* iPad */
@media only screen and (min-width: 765px) and (max-width: 1024px)
{
    .mainButton {
        li {
            padding: 10px 20px;
        }
    }
    .imageBox {
        max-width: 90%;
        }

        .logo {
            color: rgb(77, 79, 173);
        }

    .menu {
        display: block;
    }

    .mobile-nav {
        display: none;
    }

    .hamburger {
        display: none;
    }

    .title {
        flex: 0 0 auto;
        width: 23%;
      }

    .desc {
        flex: 0 0 auto;
        width: 40%;
        }

    #practica .desc-img {
        width: 70%;
    }

    #estudio, #trabajos {
            margin: 2em 0em;
        }
    #contacto {
        margin: 2em 0em 30em;
    }

    .margin-bottom {
        margin-bottom: 3em;
    }

    .img-container-profile {
        max-width: 230px;
        height: 160px;
        margin-bottom: 10px;
        margin-right: 10px;
    }

    .img-container-one {
        max-width: 500px;
        height: 180px;
        margin-bottom: 10px;
        margin-right: 10px;
    }

    .img-container-two {
        max-width: 100px;
        height: 180px;
        margin-bottom: 10px;
    }

    .img-container-three {
        max-width: 400px;
        height: 180px;
        margin-bottom: 10px;
        margin-right: 10px;
    }

    .img-container-four {
        max-width: 200px;
        height: 180px;
        margin-bottom: 10px;
    }

}

/* iPad Pro */
@media only screen and (min-width: 1024px)
{
        .imageBox {
        max-width: 90%;
        height: 350px;
        margin: 0.5em;
        }

        .logo {
            color: rgb(165, 42, 159);
        }

        .menu {
            display: block;
        }

        .mobile-nav {
            display: none;
        }
    
        .hamburger {
            display: none;
        }
        .title {
            flex: 0 0 auto;
            width: 23%;
          }

        .desc {
            flex: 0 0 auto;
            width: 50%;
            }

        #estudio, #practica {
                margin: 6em 0em;
            }
        #contacto {
            margin: 6em 0em 30em;
        }

        .margin-bottom {
            margin-bottom: 3em;
        }

        .desc-img {
            flex: 0 0 auto;
            width: 70%;
        
        }

        .img-container-profile {
            max-width: 350px;
            height: 250px;
            margin-bottom: 10px;
            margin-right: 10px;
        }

        .img-container-one {
            max-width: 500px;
            height: 180px;
            margin-bottom: 10px;
            margin-right: 10px;
        }

        .img-container-two {
            max-width: 100px;
            height: 180px;
            margin-bottom: 10px;
        }

        .img-container-three {
            max-width: 400px;
            height: 180px;
            margin-bottom: 10px;
            margin-right: 10px;
        }

        .img-container-four {
            max-width: 200px;
            height: 180px;
            margin-bottom: 10px;
        }

}
/* DESKTOP */
@media only screen and (min-width: 1366px)
{
        .imageBox {
        max-width: 70%;
        height: 350px;
        margin: 0.5em;
        }

        .logo {
            color: brown;
        }

        .menu {
            display: block;
        }

        .mobile-nav {
            display: none;
        }
    
        .hamburger {
            display: none;
        }

        .contain {
            max-width: 1320px;
        }

        .title {
            flex: 0 0 auto;
            width: 23%;
          }

        .desc {
            flex: 0 0 auto;
            width: 30%;
            }

        #estudio, #trabajos, #practica {
                margin: 0em 0em;
            }

        #contacto{
                margin: 0em 0em 24em;
            }

         
        .margin-bottom {
            margin-bottom: 3em;
        }

        .desc-img {
            flex: 0 0 auto;
            width: 70%;
        
        }

        .img-container-one {
            max-width: 500px;
            height: 180px;
            margin-bottom: 10px;
            margin-right: 10px;
        }

        .img-container-two {
            max-width: 100px;
            height: 180px;
            margin-bottom: 10px;
        }

        .img-container-three {
            max-width: 400px;
            height: 180px;
            margin-bottom: 10px;
            margin-right: 10px;
        }

        .img-container-four {
            max-width: 200px;
            height: 180px;
            margin-bottom: 10px;
        }

        
        
}