/* MOBILE PHONE */
@media only screen and (max-width: 600px)
{}

/* TABLET */
@media only screen and (max-width: 1024px)
{}

/* DESKTOP */
@media only screen and (min-width: 1200)
{
    .flexNav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 5px 10px;
    }
    
    .mainButton {
        list-style: none;
        li {padding: 10px 50px;
        font-size: 14pt;}
        .active {
            font-weight: 500;
        }
    
    }
    
    .logo {
        font-size: 16pt;
        padding: 10px;
    }
}