/* MOBILE PHONE */
@media only screen and (max-width: 320px)
{
    .logo {
        color: rgb(49, 105, 54);
    }
}

/* TABLET */
@media only screen and (min-width: 768px) and (max-width: 1024px)
{
    .mainButton {
        li {
            padding: 10px 20px;
        }
    }
    .imageBox {
        max-width: 90%;
        }

        .logo {
            color: rgb(77, 79, 173);
        }
}

/* DESKTOP */
@media only screen and (min-width: 1024px)
{
        .imageBox {
        max-width: 70%;
        height: 350px;
        margin: 0.5em;
        }

        .logo {
            color: brown;
        }
}